// Colors

$white:                  #ffffff;
$brand-primary:          #56a0d4;
$brand-primary-dark:     darken($brand-primary, 30);
$brand-secondary:        #d4a056;
$brand-tertiary:         #a0d456;
$brand-quarternary:      #56d4a0;
$body:                   #a056d4;
$footer:                 $brand-primary-dark;

// Layout


// Type
$size-xl:    2rem;
$size-lg:    1.5rem;
$size-md:    1rem;
$size-small: .8rem;

$sans:       'Roboto';
$condensed:  'Roboto Condensed';
